@import "../../../../variables.scss";
@import "../../../../../src/app/styles/mixins.scss";

.estructuraLanding {
  height: 100%;
  background-color: lighten($color: $mainColor, $amount: 20%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .contendorBusqueda {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 120vh;
    .logoEmpresa {
      @include for-phone-only {
        display: none;
      }
    }
  }
  .imagenLogo {
    max-width: 20vh;
  }
}
