/* For use in src/lib/core/theming/_palette.scss */
$md-mcgpalett: (
    50 : #f0fbff,
    100 : #d9f4ff,
    200 : #bfedff,
    300 : #a5e6ff,
    400 : #92e0ff,
    500 : #7fdbff,
    600 : #77d7ff,
    700 : #6cd2ff,
    800 : #62cdff,
    900 : #4fc4ff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #f5fbff,
    A700 : #dbf3ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-mcgpalette1: (
    50 : #ffffff,
    100 : #ffffff,
    200 : #ffffff,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-mcgpalette2: (
    50 : #ebedee,
    100 : #cdd1d4,
    200 : #acb2b7,
    300 : #8b939a,
    400 : #727c85,
    500 : #59656f,
    600 : #515d67,
    700 : #48535c,
    800 : #3e4952,
    900 : #2e3740,
    A100 : #90cbff,
    A200 : #5db3ff,
    A400 : #2a9bff,
    A700 : #108fff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

